@font-face {
    font-family: "poppins";
    src: url(../../../../public/fonts/Poppins-Regular.ttf);
}

;

@font-face {
    font-family: "Amatic";
    src: url(../../../../public/fonts/AmaticSC-Bold.ttf);
}

;


// *********************** navbar
nav {
    .logo {
        font-size: 32px;
        font-weight: 500;

        span {
            color: #cd1210;
        }
    }

    .lii {
        font-size: 18px;
        color: #101217 !important;

        .active {
            font-size: 20px;

        }
    }

    .lii:hover {
        color: #101217 !important;
        font-weight: 500 !important;
    }

    .lii:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: 26%;
    }

    .lii:hover::after {
        margin-left: 5px;
        width: 60px;
        height: 2px;
        background-color: #bb2424;
    }

    .dropdown:hover::after {
        width: 150px;
        margin-top: 10px;
    }

    button {
        border: none;
        color: white;
        background-color: #cd1210;
        width: 120px;
        height: 35px;
        border-radius: 20px;
        font-size: 16px;
    }

    button:hover {
        background-color: #be1411;
    }
}

// ***********************home
.home {
    // height: 100px;
    display: flex;
    background-color: #eeeeee;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    margin-top: 5px;

    .home-text {
        h1 {
            font-family: "Amatic";
            font-size: 52px;
            color: #565658;
        }

        p {
            font-size: 16px;
            color:#919191;

        }
    }

    .image {
        width: 420px;
        height: 420px;
    }

    .video {

        display: flex;
        align-items: center;

        i {
            font-size: 24px;
            margin-right: 10px;
        }

        button {
            border: none;
            color: white;
            background-color: #cd1210;
            width: 120px;
            height: 35px;
            border-radius: 20px;
            font-size: 16px;
            margin-right: 15px;
            box-shadow:  #cd131043 0px 7px 29px 0px;
        }
        h6{
            font-size: 18px;
            color:#919191;
        }
    }
}