// ***********tablet 

@media (min-width:768px) and (max-width:1000px) {
    .home {
        display: flex;
        flex-direction: column-reverse;

        .image {
            width: 420px;
            height: 420px;
        }

        .home-text {
            h1 {
                margin-top: 10px;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: 18px;
            }
        }

        .video {
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}